.list-todo-container {
    .add{
        margin: 0 10px;
    }
    
    .add-todo{

    }
    .list-todo-contents {
        width:400px ;
        margin: 0 auto;
        .todo-child {
            &:first-child {
                border-top: 1px solid grey;
            }
            border-bottom: 1px solid grey;
            height: 40px;
            margin: 10px;
            .edit {
                margin: 0 10px;
            }
        }
    }
}